[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-tavily = "*"
pydantic = "*"
flask = "*"
langsmith = "*"
openai = "*"
langchain = "*"
langchain-openai = "*"
black = "*"
dotenv = "*"
pinecone = "*"
langchain-pinecone = "*"
langchain-community = "*"
pypdf = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.13"
